<% include partials/header %>

<p>Pokemon Info Page</p>

<div id="genForm">
	<form action="/list" method="GET">
		<div class="btn-group-vertical form-group" data-toggle="buttons" id="gen">
		<% for(var i = 0; i < 5; i++){ %>
				<label class="btn btn-primary">
					<input class="form-control" type="radio" name="generation" value="<%= i+1 %>">HELLO</button>
				</label>

		<% } %>
		</div>

		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit!</button>
		</div>
	</form>
</div>
<% include partials/footer %>