<% include partials/header %>

<p>Pokemon List Page</p>

<ul>
	<% data["pokemon_species"].forEach(function(pokemon){ %>

		<li><%= pokemon.name %></li>

	<% }); %>
</ul>

<% include partials/footer %>